.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 312px;
  margin-left: auto;
  margin-right: auto;
}

.navigation button {
  flex: 1;
  height: 60px;
  background: #000000;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: background 0.2s;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

.navigation button.backBtn {
  flex: none;
  background-color: #8D8D8D;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navigation button:hover {
  background: #555;
}